.passwordFormContainer {
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: var(--white);
}

.passwordFormContainer .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.passwordFormContainer p {
    color: var(--blue);
}

.passwordFormContainer header h3 {
    color: var(--blue);
}

.passwordFormContainer header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}

.passwordFormContainer header button {
    background-color: transparent;
    border: none;
    color: var(--blue);
}

.passwordFormContainer form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.passwordFormContainer label {
    color: var(--blue);
}

.passwordFormContainer input {
    color: var(--blue);
    border: 1px solid var(--blue);
}