.createPairContainer {
    height: 100%;
    display: flex;
    gap: 1rem;
}

.createPairContainer input {
    height: 100%;
    background-color: var(--white);
    padding: 0.5rem;
    border: none;
    color: var(--blue);
    border-radius: 10px;
    outline: none;
    margin-bottom: 1rem;
    font-family: 'Fredericka the Great', serif;
}

.createPairContainer button {
    height: 100%;
}

.createPairContainer button {
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .createPairContainer:nth-of-type(even) {
        justify-content: flex-end;
    }
}